*{
    /* margin: 0;
    padding: 0; */
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
:root{
    --navlink: #6c6c6c;
    --partnersBg: #F3F3F3;
    --partnersHeading: #5c5c5c;
    --mainGradient: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.4) 40%, rgba(0,0,0,0.0) 80%);
    --resultsHeading: #333333;
    --pink: #ED1556;
    --blue: #385D77;
    --green: #A9DBD3;
    --resultsColP: #333333;
    --leftFooterBG: #4C4C4C;
    --rightFooterBG: #696969;
    --copyright: #cccccc;
}
header{
    height: 121px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed;
    background-color: white; */
}
.logo{
    width: 40%;
}
header img{
    width: 128px;
    height: 100px;
}
nav{
    width: 50%;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    list-style-type: none;
    text-transform: uppercase;
}
nav a{
    text-decoration: none;
    color: var(--navlink);
}
nav a:hover{
    text-decoration-color: var(--navlink);
}
section{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    position: relative;
    background-image: var(--mainGradient),url(images/netcel-hero.jpg);
}
.content{
    height: 200px;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    color:white;
    margin-left: 3em;
    margin-top: 3em;
}

.content h1{
    font-size: 60px;
    line-height: 30px;
    font: 300;
}
.content h3{
    font-size: 30px;
    line-height: 30px;
    font-weight: 300;
}
.row{
    width: 90%;
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 20em;
    margin-left: 4.2em;
}
.col{
    width: 450px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    padding-top: 2em;
    padding-left: 2em;
}
.col h2{
    width: 180px;
    font-size: 35px;
    font-weight: 300;
}
.col p{
    font-size: 20px;
    font-weight: 300;

}
.blue{
    background-color: var(--blue);
}
.pink{
    background-color: var(--pink);
}
.green{
    background-color: var(--green);
}
.partners{
    margin: 0;
    padding: 0;
    height: 700px;
    background-color: var(--partnersBg);
    margin-top: 13em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.partners h1{
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    color: var(--partnersHeading);
}
.partners .content{
    height: 434px;
    width: 75%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content .btnLogoRow{
    width: 85%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnLogoRow img{
    height: 94px;
}
.content p{
    width: 85%;
    font-size: 24px;
    font-weight: 300;
    margin-top: 4em;
    color: var(--partnersHeading);
}
.results{
        height: 662px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}
.results h1{
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    color: var(--partnersHeading);
}
.resultsRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    height: 445px;
    margin-top: 2em;
}
.resultsCol{
    height: 445px;
    width: 380px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.resultsCol img{
    height: 230px;
    width: 406px;

}
.resultsCol h6{
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
}
h6 a{
    color: var(--resultsHeading);
    text-decoration: none;
}
h6 a:hover{
    color: var(--pink);
    text-decoration: none;
}
.resultsCol p{
    font-size: 20px;
    line-height: 28px;
    color: var(--resultsColP);
}
.resultsCol button{
    height: 38px;
    width: 141px;
    background-color: var(--resultsHeading);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 38px;
    font-weight: 400;
    color: white;
    cursor: pointer;
    transition: 0.25s;
    outline: none;
    border: none;
}
.resultsCol button:hover{
    height: 38px;
    width: 141px;
    background-color: var(--pink);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 38px;
    font-weight: 400;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
}
.awards{
    height: 323px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--partnersBg);
}
.awards h1{
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    color: var(--partnersHeading);
}
.awards .imgRow{
    height: 120px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
}
.getInTouch{
    height: 197px;
    width: 100%;
    background-color: var(--pink);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.getInTouch .content{
    height: 150px;
    width: 640px;
    color: white;
    margin-bottom: 3.5em;
}
.content h1{
    font-size: 40px;
    line-height: 40px;
    font-weight: lighter;
}
.getInTouch .text{
    font-size: 20px;
    line-height: 32px;
    font-weight: 300;
}
.bold{
    font-weight: 700;
}
.getInTouch a{
    text-decoration: none;
    color: white;
}
.content a:hover{
    text-decoration: underline;
    text-decoration-color: white;
}
footer{
    height: 223px;
    width: 100%;
}
.leftFooter{
    width: 996px;
    height: 0;
    border-bottom: 223px solid var(--leftFooterBG);
    border-right: 60px solid transparent;
    position: absolute;
    display: flex;
}
.rightFooter{
    width: 350px;
    height: 0;
    border-top: 223px solid var(--rightFooterBG);
    border-left: 60px solid transparent; 
    position: relative;
    margin-left: 57.7em;
}
.leftFooter .aboutLeft{
    height: 87px;
    width: 190px;
    margin: 2em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.aboutLeft p{
    font-size: 14px;
    line-height: 10px;
    font-weight: 300;
}
.aboutLeft a{
    text-decoration: none;
    color: white;
}
.aboutLeft a:hover{
    text-decoration: underline;
    text-decoration-color: white;
    color: white;
}
.aboutRight{
    height: 150px;
    width: 250px;
    margin: 1.6em 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
    position: absolute;
    bottom: 0;
}
.aboutRight p{
    font-size: 11px;
    line-height: 10px;
    font-weight: 300;
}
.aboutRight a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.aboutRight a:hover{
    text-decoration: underline;
    text-decoration-color: white;
    color: white;
}
.social{
    height: 27px;
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social img{
    height: 24px;
    width: 24px;
}
.social a:hover{
    opacity: 0.5;
}
.copyright{
    font-size: 11px;
    margin-top: 2em;
    color: var(--copyright);
}